html,
body {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: map-get($font-size, mobile);
}

html {
  @include desktop-breakpoint {
    font-size: map-get($font-size, desktop);
  }
  @include tablet-breakpoint {
    font-size: map-get($font-size, tablet);
  }
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

img {
  width: 100%;
  height: auto;
}

a {
  color: $primary-color;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

header, section {
  padding-right: 1.25rem;
  padding-bottom: 1.25rem;
  padding-left: 1.25rem;
  @include desktop-breakpoint {
    max-width: 1240px;
    min-height: unset;
    margin: 0 auto;
    width: stretch;
  }
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrapper {
  flex: 1;
}

.footer {
  flex-shrink: 0;
}
