.tag {
	display: inline-flex;
	align-items: center; 
	justify-content: center;
	margin-top: 0.75rem;
	margin-right: 0.625rem;
	padding: 0.125rem 0.625rem;
	border-radius: calc($border-radius/2);
	background: $primary-color;
	color: $white-color;
	font-size: 0.625rem;
	text-align: left; 
	white-space: nowrap; /* Prevent text wrapping to the second row */

	@include desktop-breakpoint {
		margin-top: 0;
		margin-right: 0.625rem;
		padding: 0.1875rem 0.9375rem;
		border-radius: $border-radius;
		font-size: 1.875rem;
		text-align: center; 
		overflow: hidden; 
	}
	@include tablet-breakpoint {
		max-width: 7.1875rem;
		font-size: 0.875rem;
	}
}
