
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


html {
	font-family: 'Montserrat', sans-serif;
	font-size: map-get($font-size, mobile);
	@include desktop-breakpoint {
		font-size: map-get($font-size, desktop);
	}
}

body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

h1 {
	font-family: 'Montserrat', sans-serif;
	color: $primary-color;
}

h1,h2,h3,h4,h5,h6{
	margin:0;
}

img {
	width: 100%;
	height: auto;
}

a {
	color: $primary-color;
	text-decoration: none;
	&:hover {
		color: $primary-color;
		text-decoration: underline;
	}
}

header,
section {
	padding-right: 1.25rem;
	padding-bottom: 1.25rem;
	padding-left: 1.25rem;
	@include desktop-breakpoint {
		max-width: 1240px;
		min-height: unset;
		margin: 0 auto;
		width: stretch;
	}
}

#root {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
