


.footer {
  @include flex-center;
    background-color: $black-color;
    flex-direction: column;
    padding: 3rem 0;
    color: $white-color;
    text-align: center;
    &-img {
      width: 7.6rem;
      padding-bottom: 1rem;
      & path {
        fill: $white-color;
      }
    }
    &-rights {
      font-size: 1.5rem;
	  @include desktop-breakpoint {
		margin-top: 1.9375rem;
		font-size: 1.5rem;
	}
    
    }
  }


